.form__recipients {
	justify-self: center;
	padding: 2rem 1.5rem 2rem 3rem;
	width: 38rem;
	height: 40rem;
	display: grid;
	grid-template-rows: minmax(4rem, -webkit-min-content) 1fr;
	grid-template-rows: minmax(4rem, min-content) 1fr;

	background-color: #fff;
	-webkit-box-shadow: 0px 3px 10px rgba(34, 40, 52, 0.2);
	box-shadow: 0px 3px 10px rgba(34, 40, 52, 0.2);
	border-radius: 1rem;
}
@media only screen and (max-width: 31.25em) {
	.form__recipients {
		width: 100%;
		-webkit-transform: translateY(-6rem);
		transform: translateY(-6rem);
	}
}
.form__recipients-list {
	list-style: none;
	overflow-y: scroll;
	padding-right: 1rem;
}
.form__recipients-list::-webkit-scrollbar {
	background-color: transparent;
	width: 4px;
	border-radius: 10rem;
}
.form__recipients-list::-webkit-scrollbar-thumb {
	background-color: #bbbbbb;
	border-radius: 100px;
}
.form__recipients-item {
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	color: #222834;
	border-bottom: 1px solid #bbbbbb;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.form__recipients-item:not(:last-child) {
	margin-bottom: 2rem;
}
.form__recipients-button {
	composes: btn--action from './typography.module.css';
}
